/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;900&display=swap");

/* 
    Setup
*/

* {
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #121212;
  color: #ededed;
  font-size: 32px;
}

.btn-white {
  font-size: 1.5rem;
  padding: 5px 15px;
  border-radius: 3px;
  border-style: none;
}

.btn-white:active {
  transform: scale(0.98);
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.7),
    inset -2px -2px 5px rgba(0, 0, 0, 0.7);
}

#chat {
  display: none;
  padding: 10px;
  margin: 20px auto;
  width: 500px;
  background-color: rgb(100, 100, 100);
  border-radius: 5px;
}
#chat::before {
  content: "Chat:";
  font-size: 0.9em;
}

#message-wrapper {
  background-color: rgb(50, 50, 50);
  margin: 10px auto;
  border: 1px solid black;
}

.message {
  height: 30px;
  font-size: 0.75em;
}

.message-self {
  background-color: rgb(75, 75, 75);
}
