/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;900&display=swap");

/* 
    Setup
*/

html {
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: "Nunito", sans-serif;
  color: white;
}
body {
  background-color: #0cbaba;
  background-color: #7f5a83;
  background-image: linear-gradient(to top left, #7f5a83 0%, #0d324d 75%);
  font-size: 32px;
  padding: 0px;
  text-align: center;
}

.btn-white {
  font-size: 1.5rem;
  padding: 5px 15px;
  border-radius: 3px;
  border-style: none;
}

.btn-white:active {
  transform: scale(0.98);
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.7),
    inset -2px -2px 5px rgba(0, 0, 0, 0.7);
}

#welcome {
  display: block;
}

#username-input {
  height: 30px;
  font-family: inherit;
  border-radius: 5px;
}

#chat {
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: auto 50px;
  gap: 10px;
  padding: 10px;
  margin: 25px auto;
  width: 75vw;
  height: 75vh;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

#input {
  display: grid;
  grid-template-columns: 7fr 1fr;
  align-items: center;
  gap: 5px;
}
#message-input {
  height: 30px;
  font-family: inherit;
  border-radius: 5px;
}

#message-send {
  height: 35px;
}
#message-wrapper {
  height: 90%;
  max-height: 90%;
  border-radius: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  text-overflow: ellipsis;
  margin: 10px auto;
  border: 1px solid black;
}

.message {
  min-height: 50px;
  width: 50%;
  overflow: hidden;
  font-size: 0.75em;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  /* Align text */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message-self {
  align-items: flex-end;
  background-color: rgba(0, 0, 0, 0.15);
  position: relative;
  left: 50%;
  margin-left: -15px;
}

.message-user {
  font-size: 0.6em;
}
